@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .nav-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
  }
  .nav-item.active {
    @apply text-blue-700;
  }
  .list-group {
    @apply w-[50] text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white;
  }
  .list-group-item {
    @apply block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white;
  }
  .list-group-item-active {
    @apply block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600;
  }
  .badge-dark {
    @apply bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300;
  }
  .table {
    @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
  }
  .table thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
  }
  .table thead th {
    @apply px-6 py-3;
  }
  .table tbody {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
  }
  .table tbody tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
  }
  .table tbody td {
    @apply px-6 py-4;
  }
  .pagination {
    @apply inline-flex -space-x-px mt-4;
  }
  .pagination a {
    @apply py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
  }
  .pagination a.active {
    @apply text-white bg-blue-500 border  hover:bg-blue-100 hover:text-blue-700  dark:bg-gray-700 dark:text-white;
  }
  .clickable {
    cursor: pointer;
  }
  .btn-red {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs px-5 py-2.5  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
  }
  .btn-default {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
  }
  .like {
    @apply text-red-700 text-lg;
  }
  .select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .input-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
  }
  .input {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light;
  }
  .alert-danger {
    @apply p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
}
